.banner {
    background: url('../img/banner1.jpg') left center no-repeat #00b7d9;
    background-size: cover;
    margin: 25px 0;
    padding: 45px 0;
    display: flex;
    justify-content: flex-end;

    .banner__information {
        flex-basis: 630px;
        margin-right: 70px;
        text-align: center;

        .banner__title {
            font-size: 26px;
            font-weight: 600;
            line-height: 30px;
            letter-spacing: 2.6px;
            text-transform: uppercase;
        }

        p {
            color: $grey;
            margin: 15px 0;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 5.6px;
            text-transform: uppercase;
        }

        a {
            $values: (bg: $white, fz: 12px, lh: 20px, ls: 2.16px, w: 250px, br: 60px, c: $black);
            @include btn( $values... ) {
                margin: 35px auto 0;
                padding: 20px 0;
            };
        }
    }
}

.banner--left {
    background: url('../img/banner2.jpg') left center no-repeat #d7dbd5;
    background-size: cover;
    justify-content: flex-start;

    .banner__information {
        margin-left: 70px;
        margin-right: 0;

        a {
            $values: (bg: $black, fz: 14px, lh: 23px, ls: .7px, w: 205px, br: 70px, c: $white);
            @include btn( $values... ) {
                margin: 35px auto 0;
                padding: 24px 0;
            };
        }
    }
}

@media (max-width: 1100px) {
    .banner {
        background-position: -150px 0;

        .banner__information {
            margin-right: 0;
        }
    }

    .banner--left {
        .banner__information {
            margin-left: 0;
        }
    }
}

@media (max-width: 880px) {
    .banner {
        background: #00b7d9;

        .banner__information {
            flex-basis: 100%;
            padding: 0 10px;
            box-sizing: border-box;
        }
    }

    .banner--left {
        background: #d7dbd5;
    }
}