.banner {
  background: url("../img/banner1.jpg") left center no-repeat #00b7d9;
  background-size: cover;
  margin: 25px 0;
  padding: 45px 0;
  display: flex;
  justify-content: flex-end; }
  .banner .banner__information {
    flex-basis: 630px;
    margin-right: 70px;
    text-align: center; }
