.links {
  background-color: #f8f8f8;
  padding: 240px 0 90px; }
  .links .links__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .links .links__wrap .links__element {
      flex-basis: 20%; }
      .links .links__wrap .links__element .links__title {
        font-size: 15px;
        line-height: 20px;
        font-weight: 700;
        color: #575153;
        text-transform: uppercase;
        margin-bottom: 30px; }
      .links .links__wrap .links__element a {
        font-size: 14px;
        line-height: 30px;
        color: #727272;
        text-decoration: none;
        font-weight: 300; }
        .links .links__wrap .links__element a:hover {
          text-decoration: underline; }
