.offers {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 25px; }
  .offers .offers__left,
  .offers .offers__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .offers .offers__element {
    position: relative; }
    .offers .offers__element img {
      display: block;
      max-width: 100%; }
    .offers .offers__element .offers__info {
      position: absolute;
      z-index: 1;
      left: 30px; }
      .offers .offers__element .offers__info .offers__category {
        font-size: 12px;
        line-height: 36px;
        letter-spacing: 0.65px;
        font-weight: 500; }
      .offers .offers__element .offers__info .offers__name {
        font-size: 19px;
        line-height: 24px;
        font-weight: 700;
        letter-spacing: 1.425px; }
