.slider {
  background: linear-gradient(90deg, #cdced2, #c5c6ca); }
  .slider .slider__item {
    display: flex;
    align-items: center;
    padding: 0 60px;
    box-sizing: border-box; }
  .slider .slider__img {
    flex-basis: 50%;
    align-self: flex-end; }
    .slider .slider__img img {
      display: block;
      max-width: 100%; }
  .slider .slider__info {
    flex-basis: 50%;
    padding-left: 70px;
    box-sizing: border-box; }
